body{
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
}

header{
    background-color:#04364A
    padding: 20px;
    text-align: center;
}

nav ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li{
    text-decoration-style: solid;
    color: bisque;
}

#data{
    list-style-type: none;
    padding: 0;
    text-align: left;
}

#sekolah{
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#kemampuan{
    list-style-type: none;
    padding: 0;
    text-align: right;
}

a:hover{
    text-decoration: underline;
}

section{
    margin: 20px 0;
}

footer{
    background-color: #2D9596;
    padding: 10px;
    text-align: center;
}

.top-page{
    color: white;
}

nav{
    background-color: none;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 20px 0;
    box-shadow: 0 0 5px #aaa;
}

a[href*="twitter"]{
    color:#04364A;
    font-weight: bold;
    text-decoration: underline;
}

a[href*="instagram"]{
    color:#04364A;
    font-weight: bold;
    text-decoration: underline;
}

#biodata{
    background-color: #265073;
    
}


#pendidikan{
    background-color: #265073;
}

.jenjang{
    color: beige;
}

p:hover{
    color:aqua;
}

a:hover{
    color: aliceblue;
}

section{
    border: 1px solid #ddd;
    padding: 15px;
    margin: 20px 0;
    box-shadow: 10 10 5px #aaa;
}

#deskripsi{
    color: beige;

}

#deskripsi::first-line{
    font-weight: 70;
    color: aquamarine;
}

#judul{
    color: beige;
    background-color: #2D9596;
}

#skills{
    background-color: #265073;
}

#nama{
    color:beige;
}

#mail{
    color:beige;
}

#program{
    color: beige;
}

#data-diri{
    color:beige;
    background-color: #2D9596;
}

#hard-skill{
    color: beige;
    background-color: #2D9596;
}